/* Place CSS styles here */
body {
    background-color: #faeaec;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#000000;
  }
  
.title{
    color: #b9376b;
    font-size: 36px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px 0
  }
  
.smaller-title{
    color: #b9376b;
    font-size: 28px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
  
.paragraph-text{
    line-height:1.6;
    margin-left: 10px;
    text-align:left;
    font-size:16px;
}

a{
    color:#b9376b;
}
  
.fun-facts-container{
    display:flex;
    justify-content:space-around;
    align-items:stretch;
    margin: 20px 0;
}

.fun-fact {
    flex: 1 1 100%;
    margin: 0 10px;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 5px #0000001a;
    text-align: center;
    font: size 18px;
    color:#b9376b;
    font-weight: bold;
}

@media (max-width:599px){
    .fun-facts-container{
        flex-wrap:wrap;
    }
    .fun-fact{
        flex:1 1 100%;
    }
}

.fun-fact img {
    display:block;
    margin: 10px auto;
  }

ul {
    list-style-type:circle;
    margin: 10px; 
    padding-left: 20px;
    text-align:left;
    font-size: 16px;
    color:#000000;
    font-weight:normal
  }
  
  ol {
    margin: 10px 0;
    padding-left: 20px;
    text-align:left;
    font-size:16px;
    color:#000000;
    font-weight:normal
  }